.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  height: 240px;
  padding: 20px;
}

button {
  font-size: 50px;
  padding: 20px;
  border: none;
  background: none;
  width: 100px;
}

button:focus {
  outline:0;
}

#space-pads {
  padding-top: 30px;
  width: 300px;
  margin: 0px auto;
}

.stars {
  background:#000 url(https://cdn.glitch.com/4e7dabcd-2531-4ebf-bee3-95f2c397572e%2Fstars.png?v=1580050436527) repeat top center;
}

.instructions {
  padding: 30px;
  font-family: Kanit;
}

footer {
  color: #B0B0B0;
  font-size: small;
  padding-bottom: 30px;
}
