.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  height: 240px;
  padding: 20px;
}

button {
  font-size: 50px;
  padding: 20px;
  border: none;
  background: none;
  width: 100px;
}

#space-pads {
  padding-top: 30px;
  width: 300px;
  margin: 0px auto;
}